.wrapper{
    background-color: aqua;
}
.nav{
    background-color: bisque;
    width: 150px;
    float: left;
}
.content{
    background-color: darkgray;
    margin-left: 150px;
}

.Footer{
    position:fixed;
    background-color: limegreen;
    height: 70px;
    width: 100%;
    right: 0;
    bottom: 0;
}
