.wrapper{
    background-color: aqua;
    border: solid 1px green;
}
.nav{
    background-color: bisque;
    width: 25%;
    float: left;
}
.content{
    background-color: darkgray;
    margin-left: 25%;
}

*{
    font-size: small;
}

@media (max-width: 700px) {

    .content{
        clear: left;
        margin: 0px;
    }
    ul > li {
        display: inline;
    }
    .nav{
       
        width: 100%;
        float: none;
    }

}